[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	subup = submodule update --init --recursive
	st = status
	co = checkout
	rhead = reset --hard HEAD
	gr = log --graph --decorate
	gro = log --graph --decorate --oneline
	grs = log --graph --decorate --pretty=format:'%Cgreen%h %Cred%an%Creset %s %Cblue%d'
[push]
	default = simple
